<p class="weather">Weather : <span></span>&deg;C</p>
<p class="flight">Flight time : <span></span></p>
<img class="img01" src="">
<img class="img02" src="">
<img class="img03" src="">
<form>
  <label class="text-center">Number of visitors <input class="visitors form-control" name="visitors" min="1" value="1" type="number"></label>
  <label class="text-center">Number of nights <input class="nights form-control" name="nights" min="1" value="1" type="number"></label>
  <label class="cost">Costs of <span>1</span> night(s) for <span>1</span> visitor(s) <br> approxemetly <span></span> USD</label>
</form>
<a href="#" class="get-ticket-btn btn btn-danger">Get your ticket today</a>

